.bg-container {
  background-color: #faf8f7;
  min-height: 100vh;

  .active {
    background-color: #fee6e3 !important;
    color: #c3392c !important;
  }

  .name-group {
    color: #333;
    padding-bottom: 5px;
    border-bottom: 1px solid #edd6d3;
    padding-left: 15px;

    .username-account {
      margin-left: 5px;
    }

    .toggle-sidebar {
      outline: none;
      border: none;
      background: transparent;

      &:hover {
        background-color: #f6efee;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .nav-link {
    display: flex;
    align-items: center;

    .icon-sidebar {
      margin-right: 5px;
    }

    .add-task {
      color: #dc4c3e;
    }

    .add-task-text {
      color: #c3392c;
      font-weight: 500;
    }
  }
}
