.toggle-sidebar {
  outline: none;
  border: none;
  background: transparent;

  &:hover {
    background-color: #f6efee;
    border-radius: 5px;
    cursor: pointer;
  }
}

.hidden {
  margin: 15px;
}

.bg-container {
  background-color: #faf8f7;
  min-height: 100vh;

  .active {
    background-color: #fee6e3 !important;
    color: #c3392c !important;
  }

  .name-group {
    padding-bottom: 5px;
    border-bottom: 1px solid #edd6d3;
    padding-left: 15px;
    color: #a0180b;

    .username-account {
      margin-left: 5px;
    }
  }

  .nav-item {
    &:hover {
      background-color: #f6efee;
      cursor: pointer;
    }

    .nav-link {
      display: flex;
      align-items: center;

      .count-tasks {
        position: absolute;
        right: 30px;
        // color: #808080;
      }

      .icon-sidebar {
        margin-right: 5px;
      }

      .add-task {
        color: #dc4c3e;
      }

      .add-task-text {
        color: #c3392c;
        font-weight: 500;
      }
    }
  }
}

.dropdown {
  button {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
    display: flex;
    align-items: center;
  }
}
