.register-container {
  min-height: 100vh;
  padding-top: 20px;

  .brand {
    text-transform: uppercase;
    font-size: 25px;
    color: #1877f2;
    font-weight: bolder;
  }

  .content-right {
    img {
      width: 450px;
    }
  }
  .content-left {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    .forgotten-password {
      text-decoration: none;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }

    .btn-register {
      background-color: #de483a;
      color: #fff;

      &:hover {
        opacity: 0.9;
        color: #fff;
      }
    }

    .forward-to-login {
      font-size: 14px;
      padding-top: 5px;
      border-top: 0.1px solid #eeeeee;
      span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
